{% extends "layout.html" %} {% block contenu %}
<div class="container">
    <div class="columns is-multiline is-centered">
        <div class="column is-12">
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Bienvenue {{pseudo}} !
                        </h1>
                        <h2 class="subtitle">
                            Faites découvrir votre ville au monde entier en contribuant à GéoQuizz !
                        </h2>
                    </div>
                </div>
            </section>
        </div>
        <div class="columns is-10 is-gapless is-marginless is-multiline is-centered">
            <div class="column is-5 is-marginless">
                    <a href="{{root}}/ajouterSerie"><button class="home button is-primary is-fullwidth title is-rounded">
                    <span class="icon is-large">
                        <i class="fa fa-plus"></i>
                    </span>&nbsp; Ajouter une série</button></a>
            </div>
            <div class="column is-5 is-marginless">
                    <a href="{{root}}/series"><button class="home button is-info is-fullwidth title is-rounded">
                    <span class="icon is-large">
                        <i class="fa fa-eye"></i>
                    </span>&nbsp; Consulter les séries</button></a>
            </div>
            <div class="column is-5 is-marginless">
                    <a href="{{root}}/../doc"><button class="home button is-warning is-fullwidth title is-rounded">
                    <span class="icon is-large">
                        <i class="fa fa-gamepad"></i>
                    </span>&nbsp; API</button></a>
            </div>
            <div class="column is-5 is-marginless ">
                    <a href="{{root}}/deconnexion"><button class="home button is-danger is-fullwidth title is-rounded">
                    <span class="icon is-large">
                        <i class="fa fa-sign-out"></i>
                    </span>&nbsp; Déconnexion</button></a>
            </div>
        </div>
    </div>
</div>
<script>
    let nav = document.querySelector("nav");
    nav.classList.add('hidden');
</script> {% endblock %}