<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GéoQuizz</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel='stylesheet' href='{{root}}/src/geoquizz/view/style.css' />
</head>

<body>
  <nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{root}}/accueil">
          <i class="fa fa-globe"></i>
          <b>GéoQuizz</b>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu ">
        <div class="navbar-end">
          <a href="{{root}}/ajouterSerie" class="navbar-item">
            <i class="fa fa-plus-circle"></i>
            Créer une série</a>
          <a href="{{root}}/series" class="navbar-item">
            <i class="fa fa-eye"></i>
            Consulter les séries
          </a>

          {% if(mail is not null and pseudo is not null) %}        
            <a class="navbar-item">
              <i class="fa fa-user"></i>
              {{pseudo}}
            </a>
              <a href="{{root}}/deconnexion" class="navbar-item">
                <i class="fa fa-sign-out"></i>
                Se déconnecter
              </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  {% block contenu %} {% block contenuSuite %} {% endblock %} {% endblock %}

  <script>
    (function () {
      var burger = document.querySelector('.burger');
      var menu = document.querySelector('#' + burger.dataset.target);
      burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
      });
    })();
  </script>

</body>

</html>