{% extends "layout.html" %} {% block contenu %} 
<div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <div class="title">Séries disponibles</div>
        </div>
      </div>
      <hr>
      <div class="columns">
        {% for serie in series %}
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
                <a href="serie/{{serie.id}}">
                    <img src="{{serie.photos[0].url}}">
                </a>
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column has-text-right">
                  <div class="panel-block-item"><i class="fa fa-globe"></i><a href="serie/{{serie.id}}">&nbsp;{{serie.lieu}}</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}