.onoffswitch {
	position: relative;
	width: 65px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none
}

.onoffswitch-checkbox {
	display: none
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 20px
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 24px;
	padding: 0;
	line-height: 24px;
	font-size: 13px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 9px;
	background-color: #01D758;
	color: #FFFFFF
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 9px;
	background-color: #EEEEEE;
	color: #999999;
	text-align: right
}

.onoffswitch-switch {
	display: block;
	width: 14px;
	margin: 5px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 37px;
	border: 2px solid #999999;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px
}

:root {
	font-size: 14px
}

@media (max-width:414px) {
	:root {
		font-size: 18px
	}

}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Monospace, Arial, Sans-Serif;
	color: #170E21;
	background: url(grungy-world-map-background.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover
}

body {
	margin: 0;
	padding: 0;
	color: #170E21
}

#wrapper {
	display: flex;
	flex-direction: column
}

h1, h2 {
	margin: 0;
	padding: 0
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center
}

header .menus {
	display: flex;
	justify-content: center;
	padding: 10px 40px;
	margin-top: 15px;
	align-self: center;
	border-radius: 5px;
	background-color: rgba(23, 14, 33, 0.6)
}

header .menus a {
	margin-right: 25px;
	color: white;
	font-size: 1.2rem;
	text-decoration: none
}

header .menus a:last-child {
	margin-right: 0
}

header .menus a:hover {
	color: rgba(255, 255, 255, 0.7)
}

header .menus a.selected {
	color: white;
	font-weight: bold;
	text-decoration: underline
}

header .logo {
	margin-top: 30px;
	width: 180px;
	height: 180px;
	background-color: #EB3344;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-self: center
}

header .logo h1, header .logo h2 {
	align-self: center;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	text-align: center
}

header .logo h1 {
	font-size: 2.5rem
}

header .logo h2 {
	font-size: 1.8rem
}

section {
	width: 850px;
	margin: 30px;
	border-radius: 20px;
	background-color: rgba(253, 243, 231, 0.9);
	padding: 50px;
	flex-grow: 1;
	align-self: center;
	box-sizing: border-box
}

@media (max-width:850px) {
	section {
		width: 95%
	}

	section h3, section h3 span {
		word-break: break-word
	}

}

section h2 {
	color: #EB3344;
	font-size: 1.8rem
}

form .field {
	margin: 10px 0
}

form .field.miel {
	position: absolute;
	left: -10000px
}

form label {
	display: block
}

form input[type="text"], form input[type="email"], form input[type="password"] {
	height: 20px;
	line-height: 20px;
	width: 50%;
	padding: 5px
}

@media (max-width:850px) {
	form input[type="text"], form input[type="email"], form input[type="password"] {
		width: 100%
	}

}

form input[type="submit"] {
	border-radius: 5px;
	border: 0;
	width: 80px;
	height: 40px;
	background: #f4f4f4
}

.activated {
	font-size: 1.5rem;
	color: #96CA2D
}

.mandatory {
	color: #EB3344
}

.errors {
	margin: 10px 0;
	padding: 2rem;
	background-color: rgba(255, 99, 71, 0.9);
	color: white
}

.flash {
	position: fixed !important;
	right: 20px;
	top: 20px;
	min-width: 200px;
	max-width: 400px;
	color: white;
	padding: 1em
}

.flash.alert {
	background-color: tomato
}

.flash.success, .flash.notice {
	background-color: #01D758
}

table {
	border-collapse: collapse;
	width: 100%
}

table td {
	padding: 5px;
	background-color: white;
	border: 1px solid #F1F1F1;
	word-break: break-word
}

.key-actions {
	width: 50px;
	text-align: center
}

.key-actions a {
	text-decoration: none;
	margin-right: 10px
}

.key-actions a.activate {
	color: #01D758
}

.key-actions a.drop {
	color: tomato
}

.head-bloc {
	display: flex;
	flex-wrap: wrap
}

.head-bloc h2 {
	flex-grow: 1
}

.head-bloc>div {
	display: flex;
	align-items: center
}

.head-bloc>div>span {
	margin-right: 8px
}

footer {
	align-self: center;
	margin-bottom: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 0 5rem;
	border-radius: 5px;
	background-color: rgba(23, 14, 33, 0.2);
	color: white
}

p.code {
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.9)
}

h3 span.verb {
	background-color: #01D758;
	color: white;
	padding: 1px 3px;
	border-radius: 3px;
	margin-right: 10px
}

h3 span.tokenparam {
	color: #EB3344
}

h3 span.param {
	color: slateblue
}

.api-route {
	margin: 0;
	background-color: white;
	padding: 1rem 2rem
}
